#maintitle {
	background-color: transparent;
	/* border: 1px dashed gray; */
	padding: 1em;
	margin: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 175%;
    color: #800000;
}

.menu-item {
	position: relative;
	float: left;
	width: 32%;
	margin-right: 2%;
}

.menu-item:last-child {
	margin-right: 0;
}

h2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 90px;
	margin: 0;
	padding: 0.25em 1em;
	border: 1px solid black;
    text-align: center;
    vertical-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 125%;
    color: DarkCyan;
}

.textbox {
	background-color: #CBFAF8;
	border: 1px solid black;
	padding: 2.5em 1em 1em;
	margin: 0;
	font-family: "Times New Roman", Times, serif;
	color: #800000;
}

#chickenmenu {
	background-color: #F7D5B6;
}

#beefmenu {
	background-color: #F8D8D6;
}

#sushimenu {
	background-color: #D0F5C1;
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px)
{
	.menu-item {
		width: 48.7%;
		margin-right: 0;
	}

	.menu-item:nth-child(1) {
		margin-right: 2.5%;
	}

	.menu-item:nth-child(3) {
		clear: both;
		width: 100%;
		margin-top: 2.5%;
	}
}

/********** Small devices only **********/
@media (max-width: 767px)

{
	.menu-item {
		width: 100%;
		margin-right: 5%;
		clear: both;
		margin-bottom: 3%;
	}
		.menu-item:last-child {
		margin-bottom: 0;
	}
}
